
</main>

<footer class="container section" id="contact">
    <hr>
    <div id="footer-logo">
        <a href="https://equalit.ie"><img id="equalitieLogo" src="../img/eQualitie_Logo_RGB.png"></a>
        <a href="https://gitlab.com/equalitie/ouinet"> <i class="ml-2 pt-4 fab fa-gitlab fa-pull-end fa-2x"></i> </a>
    </div>
    <div>
        <br>
        <p class="float-left">Ouinet is a project by <a href="https://equalit.ie">eQualit.ie</a> – a not-for-profit Canadian company developing open and reusable systems with a focus on privacy, online security and freedom of association. Technology solutions and innovations are driven by our <a href="https://equalit.ie/en/values/">values</a> that guide us to protect the rights and aspirations of everyone online.</p>
        </div>
    <!--div class="push"></div><br>
<!-- TRANSLATORS: Please do not translate this. -->
&copy; Ouinet 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>
</footer>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
</body>
</html>

